.DS_Store
.venv/
data/
/output/
data_Germany/
data_Germany/Cultivated_Grassland.tiff
data_Germany/Fallow.tiff
data_Germany/Hops.tiff
data_Germany/Legumes.tiff
data_Germany/Maize.tiff
data_Germany/Miscellaneous.tiff
data_Germany/No_agriculture.tiff
data_Germany/Orchards_Berries.tiff
data_Germany/Permanent_Grassland.tiff
data_Germany/Rapeseed.tiff
data_Germany/Root_Crops.tiff
data_Germany/Summer_Cereals.tiff
data_Germany/Sunflower.tiff
data_Germany/SWF.tiff
data_Germany/Vegetables.tiff
data_Germany/Winter_Cereals.tiff
data_LT/Cultivated_Grassland.tiff
data_LT/Fallow.tiff
data_LT/Forest_Trees_SRF.tiff
data_LT/Grapevine.tiff
data_LT/Hops.tiff
data_LT/Legumes.tiff
data_LT/Maize.tiff
data_LT/Miscellaneous.tiff
data_LT/Orchards_Berries.tiff
data_LT/Other_Cereals.tiff
data_LT/Permanent_Grassland.tiff
data_LT/Rapeseed.tiff
data_LT/Root_Crops.tiff
data_LT/Summer_Spring_Cereals.tiff
data_LT/Sunflower.tiff
data_LT/Vegetables.tiff
data_LT/Winter_Cereals.tiff
data_ST/Cultivated_Grassland.tiff
data_ST/Forest_Trees_SRF.tiff
data_ST/Legumes.tiff
data_ST/Maize.tiff
data_ST/Miscellaneous.tiff
data_ST/No_Agriculture.tiff
data_ST/Orchards_Berries.tiff
data_ST/Other_Cereals.tiff
data_ST/Permanent_Grassland.tiff
data_ST/Vegetables.tiff
data_LT/LT_merged.tiff
data_LT/LT_merged.tiff.aux.xml
data_LT/merged.tiff
data_LT/merged.tiff.aux.xml
data_ST/merged_ST.tiff
data_ST/merged_ST.tiff.aux.xml
data_ST/merged.tiff
data_ST/ST_classification.qgz
data_ST/ST_Crop_Types.png
data_ST/ST_layer_style.qml
data_LT/LT_classification.qgz
data_LT/LT_crop_types.png
data_ST/test_diff_ST.tif
trentino_aggregation.qgz
trentino_aggregation.qgz
data_trentino/Trentino_crop_types_eng.cpg
data_trentino/Trentino_crop_types_eng.shp
data_trentino/Trentino_crop_types.shp
data_trentino/Trentino_crop_types.qmd
data_trentino/Trentino_crop_types.dbf
data_trentino/Trentino_crop_types_eng.shx
data_trentino/Trentino_crop_types_eng.qmd
data_trentino/Trentino_crop_types_eng.prj
data_trentino/Trentino_crop_types_eng.dbf
trentino_aggregation.qgz
trentino_aggregation.qgz
trentino_aggregation.qgz
trentino_aggregation.qgz
data_trentino/slope_100_100_trentino.tif
data_trentino/slope_100_100_trentino.tif.aux.xml
data_trentino/slope_200_200_trentino.tif
data_trentino/slope_200_200_trentino.tif.aux.xml
trentino_aggregation.qgz
trentino_aggregation.qgz
data_trentino/Trentino_slope/README.txt
data_trentino/Trentino_slope/slope_Trentino_3035.tiff
data_trentino/Trentino_slope/Trentino_elev_dtm_copernicus_v11_84m.tfw
data_trentino/Trentino_slope/Trentino_elev_dtm_copernicus_v11_84m.tif
data_trentino/Trentino_slope/Trentino_elev_slope_copernicus_v11_84m.tfw
data_trentino/Trentino_slope/Trentino_elev_slope_copernicus_v11_84m.tif
data_trentino/Trentino_slope/Trentino_elev_slope_copernicus_v11_84m.tif.aux.xml
trentino_aggregation.qgz
data_trentino/rasters_COP90.tar.gz
data_trentino/viz.tar.gz
data_trentino/rasters_COP90/output_hh.tif
data_trentino/Trentino_slope/slope_Trentino_3035_Birdwatch.tiff
data_trentino/Trentino_slope/slope_Trentino_3035_Birdwatch.tiff.aux.xml
data_trentino/Trentino_slope/slope_Trentino_3035.tiff.aux.xml
data_trentino/viz/viz.hh_slope.tif
data_trentino/viz/viz.hh_slope.tif.aux.xml
data_trentino/Trentino_crop_types_eng_LPIS.cpg
data_trentino/Trentino_crop_types_eng_LPIS.dbf
data_trentino/Trentino_crop_types_eng_LPIS.prj
data_trentino/Trentino_crop_types_eng_LPIS.qmd
data_trentino/Trentino_crop_types_eng_LPIS.shp
data_trentino/Trentino_crop_types_eng_LPIS.shx
data_trentino/Trentino_crop_types_eng.qix
data_trentino/Trentino_crop_types_LPIS.cpg
data_trentino/Trentino_crop_types_LPIS.dbf
data_trentino/Trentino_crop_types_LPIS.prj
data_trentino/Trentino_crop_types_LPIS.qmd
data_trentino/Trentino_crop_types_LPIS.shp
data_trentino/Trentino_crop_types_LPIS.shx
